%TMPL:DEF{"newwebform"}%%{}%
%TMPL:P{"newwebform::start"}%%{}%
%TMPL:P{"newwebform::namestep"}%%{}%
%TMPL:P{"newwebform::summarystep"}%%{}%
%TMPL:P{"newwebform::parentstep"}%%{}%
%TMPL:P{"newwebform::accessstep"}%%{}%
%TMPL:P{"newwebform::moresettingsstep"}%%{}%
%TMPL:P{"newwebform::templatestep"}%%{}%
%TMPL:P{"newwebform::buttons"}%%{}%
%TMPL:P{"newwebform::end"}%%{}%
%TMPL:END%

%TMPL:DEF{"newwebform::start"}%<form id="createNewWeb" class="jqAjaxForm" name="admin" action="%SCRIPTURLPATH{"jsonrpc"}%/WebCreatorPlugin/create" method="post" data-message="%MAKETEXT{"Creating a new Web"}%">
<table class="foswikiLayoutTable">%TMPL:END%

%TMPL:DEF{"newwebform::end"}%</table>
</form>%JQREQUIRE{"ajaxform, select2"}%%TMPL:END%

%TMPL:DEF{"newwebform::buttons"}%<tr>
<th></th>
<td>
  <input type="submit" class="foswikiSubmit" value="%MAKETEXT{"Submit"}%" />
  <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%" class="foswikiButtonCancel {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a>
</td
</tr>%TMPL:END%

%TMPL:DEF{"newwebform::namestep"}%<tr>
  <th>%MAKETEXT{"Name"}%:</th>
  <td>
    <input name="newweb" class="foswikiInputField required" type="text" value="%URLPARAM{"newweb"}%" size="60" />
    <div class="foswikiFormDescription">
      %MAKETEXT{"The name must start with an upper case letter, followed by upper or lower case letters or numbers."}%
    </div>
  </td>
</tr>%TMPL:END%

%TMPL:DEF{"newwebform::summarystep"}%<tr>
  <th>%MAKETEXT{"Summary"}%:</th>
  <td>
    <input type="text" class="foswikiInputField" name="WEBSUMMARY" value="" size="60" />
    <div class="foswikiFormDescription">
      %MAKETEXT{"Enter a short description of the web."}%
    </div>
  </td>
</tr>%TMPL:END%

%TMPL:DEF{"newwebform::parentstep"}%<tr>
  <th>%MAKETEXT{"Parent Web"}%:</th>
  <td>
    <select name="parentweb" class="jqSelect2" data-width="27em" data-allow-clear="true" data-placeholder="%MAKETEXT{"none"}%" size="1">
      <option></option>
      %FLEXWEBLIST{ 
        format="<option $marker>$web</option>" 
        marker="selected"
        webs="public" 
        exclude="Applications.*"
        selection="" 
        separator="$n"
      }%
    </select>
    <div class="foswikiFormDescription">
      %MAKETEXT{"Specify the parent web that the new web will be a subweb off."}%
    </div>
  </td>
</tr>%TMPL:END%

%TMPL:DEF{"newwebform::templatestep"}%<tr>
  <th>%MAKETEXT{"Template Web"}%:</th>
  <td>
    <select name="templateweb" class="jqSelect2" data-width="27em">
      %FLEXWEBLIST{ 
        format="<option $marker>$name</option>" 
        marker="selected"
        webs="webtemplate" 
        include="_.*"
        exclude=".*/.*"
        selection="%DEFAULTWEB{default="%IF{"context ClassificationPluginEnabled" then="_ClassificationTemplate" else="_default"}%"}%" 
        separator="$n"
      }%
    </select>
    <div class="foswikiFormDescription">
      %MAKETEXT{"Select a TemplateWeb which you want the new web to be based on."}%
    </div>
  </td>
</tr>%TMPL:END%

%TMPL:DEF{"newwebform::accessstep"}%<tr>
  <th>%MAKETEXT{"View Access"}%</th>
  <td>
    <input name="ALLOWWEBVIEW" class="foswikiInputField required" type="text" value="%WIKINAME%" size="60" />
    <div class="foswikiFormDescription">
      %MAKETEXT{"List of user and/or groups that are allowed to access this web. Leave empty for a public web."}%
    </div>
  </td>
</tr><tr>
  <th>%MAKETEXT{"Allow Changes"}%</th>
  <td>
    <input name="ALLOWWEBCHANGE" class="foswikiInputField required" type="text" value="%WIKINAME%" size="60" />
    <div class="foswikiFormDescription">
      %MAKETEXT{"List of user and/or groups that are allowed to change content in this web."}%
    </div>
  </td>
</tr><tr>
  <th>%MAKETEXT{"Allow Renaming"}%</th>
  <td>
    <input name="ALLOWWEBRENAME" class="foswikiInputField required" type="text" value="%WIKINAME%" size="60" />
    <div class="foswikiFormDescription">
      %MAKETEXT{"List of user and/or groups that are allowed to change content in this web."}%
    </div>
  </td>
</tr>%TMPL:END%
